{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "experimental": {
      "plugins": [
        [
          "@effector/swc-plugin",
          {
            "addLoc": true,
            "factories": ["./tests/fixtures/factories/factory"]
          }
        ]
      ]
    }
  }
}